html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main{
    flex-grow: 1;
  }

  .titulares{
    padding: 1rem;
    background-color: #222;
    color: #eee;
  }

  .menu ul{
    list-style-type: none;
  }
  ul a{
    color: beige;
  }
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-image{
    min-height: 100vh;
    background-image: url(../images/pexels-pixabay-39284.jpg);

    background-repeat: no-repeat;
    color: #fff;
  }
  .hero-image div{
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-image h1{
    font-size: 5vw;
  }

  img{
    max-width: 100%;
    height: auto;
  }

  .flex-responsive{
    display: flex;
    flex-flow: row wrap;
  }
  .flex-responsive-item{
    border: thin solid #f60;
    flex: 1 1 400px;
  }

  @media screen and (min-width:1024px){
    .header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .menu ul{
      display: flex;
    }
    .menu li{
      padding: 1rem;
    }

    .flex-container{
      display: flex;
      align-items: center;
    }
    .flex-item{
      flex: 0 0 50%;
    }
    .flex-order-1{
      order: 1;
    }
  }