.container-flex{
    background-color: #333;
    display: flex;
    display: inline-flex;
}

.items{
    background-color: #666;
}
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

.container-fdirection{
    background-color: #333;
    display: flex;
    flex-direction: row;/*row-reverse, column, column-reverse*/
}

.container-fwrap{
    background-color: #333;
    height: 30vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;/*nowrap, wrap-reverse*/
    /*flex-flow:colum wrap   -- es un shorthand de
    flexdirection y flexwrap*/
}
.items-fwrap{
    border: medium solid #999;
    background-color: #666;
    width: 20%;
}

.container-justify-content{
    background-color: #333;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;/*flex-start | flex-end | center | space-between | space-around | space-evenly */
}

/*----- DOM CLASES Y TEXTO HTML-----*/
.justify-buttons{
    background-color: #333;
    color: aliceblue;
    padding: 0.5rem;
    font-size: medium;
    width: 10%;
}
.justify-container-buttons{
    background-color: slategray;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 2rem;
}
.color-font-button{
    color: green;
}